src/main/resources/wsdl/SID0003450.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://snils-validation.skmv.rstyle.com" xmlns:smev="http://smev.gosuslugi.ru/rev120315" xmlns:pfr="http://pfr.skmv.rstyle.com" targetNamespace="http://snils-validation.skmv.rstyle.com">
    <wsdl:types>
        <schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://smev.gosuslugi.ru/rev120315" xmlns:snils="http://snils-validation.skmv.rstyle.com" xmlns:smev="http://smev.gosuslugi.ru/rev120315" xmlns:pfr="http://pfr.skmv.rstyle.com" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://smev.gosuslugi.ru/rev120315">
            <include schemaLocation="smev-2.5.6.xsd"></include>
            <import namespace="http://snils-validation.skmv.rstyle.com"></import>
            <import namespace="http://pfr.skmv.rstyle.com" schemaLocation="pfr.xsd"></import>

            <complexType name="SnilsValidationRequestType">
                <complexContent>
                    <restriction base="tns:BaseMessageType">
                        <sequence>
                            <element ref="tns:Message"></element>
                            <element name="MessageData">
                                <complexType>
                                    <complexContent>
                                        <restriction base="tns:MessageDataType">
                                            <sequence>
                                                <element minOccurs="0" name="AppData">
                                                    <complexType>
                                                        <complexContent>
                                                            <restriction base="tns:AppDataType">
                                                                <sequence>
                                                                    <element maxOccurs="1" minOccurs="1" name="request" nillable="false" type="snils:SnilsValidationData"></element>
                                                                </sequence>
                                                            </restriction>
                                                        </complexContent>
                                                    </complexType>
                                                </element>
                                                <element minOccurs="0" ref="tns:AppDocument"></element>
                                            </sequence>
                                        </restriction>
                                    </complexContent>
                                </complexType>
                            </element>
                        </sequence>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="SnilsValidationResponseType">
                <complexContent>
                    <restriction base="tns:BaseMessageType">
                        <sequence>
                            <element ref="tns:Message"></element>
                            <element name="MessageData">
                                <complexType>
                                    <complexContent>
                                        <restriction base="tns:MessageDataType">
                                            <sequence>
                                                <element minOccurs="0" name="AppData">
                                                    <complexType>
                                                        <complexContent>
                                                            <restriction base="tns:AppDataType">
                                                                <sequence>
                                                                    <element maxOccurs="1" minOccurs="0" ref="snils:result"></element>
                                                                    <element maxOccurs="1" minOccurs="0" ref="pfr:fault"></element>
                                                                </sequence>
                                                            </restriction>
                                                        </complexContent>
                                                    </complexType>
                                                </element>
                                                <element minOccurs="0" ref="tns:AppDocument"></element>
                                            </sequence>
                                        </restriction>
                                    </complexContent>
                                </complexType>
                            </element>
                        </sequence>
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
        <schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://snils-validation.skmv.rstyle.com" xmlns:smev="http://smev.gosuslugi.ru/rev120315" xmlns:pfr="http://pfr.skmv.rstyle.com" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://pfr.skmv.rstyle.com">
            <element name="fault" type="pfr:PFR_FAULT"></element>
        </schema>
        <schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://snils-validation.skmv.rstyle.com" xmlns:smev="http://smev.gosuslugi.ru/rev120315" xmlns:pfr="http://pfr.skmv.rstyle.com" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://snils-validation.skmv.rstyle.com">
            <import namespace="http://pfr.skmv.rstyle.com" schemaLocation="pfr.xsd"></import>
            <import namespace="http://smev.gosuslugi.ru/rev120315"></import>

            <element name="result" type="boolean"></element>

            <complexType name="SnilsValidationData">
                <sequence maxOccurs="1" minOccurs="1">
                    <element maxOccurs="1" minOccurs="1" name="fio" nillable="false" type="pfr:FIO"></element>
                    <element maxOccurs="1" minOccurs="1" name="snils" nillable="false" type="pfr:SNILS"></element>
                    <element maxOccurs="1" minOccurs="0" name="gender" type="pfr:GENDER"></element>
                    <element maxOccurs="1" minOccurs="0" name="birthDate" type="pfr:PFR_DATE"></element>
                    <!-- PFR #1 -->
                    <!--element name="gender" type="pfr:GENDER" minOccurs="1" maxOccurs="1" nillable="false"/>
                    <element name="birthDate" type="pfr:PFR_DATE" minOccurs="1" maxOccurs="1" nillable="false"/-->
                </sequence>
            </complexType>
            <element name="SnilsValidationRequest" type="smev:SnilsValidationRequestType"></element>
            <element name="SnilsValidationResponse" type="smev:SnilsValidationResponseType"></element>
        </schema>
    </wsdl:types>
    <wsdl:message name="SnilsValidationRequestMessage">
        <wsdl:part element="smev:Header" name="SmevHeader">
        </wsdl:part>
        <wsdl:part element="tns:SnilsValidationRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SnilsValidationResponseMessage">
        <wsdl:part element="tns:SnilsValidationResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SnilsValidationPortType">
        <wsdl:operation name="SnilsValidationRequest">
            <wsdl:input message="tns:SnilsValidationRequestMessage">
            </wsdl:input>
            <wsdl:output message="tns:SnilsValidationResponseMessage">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SnilsValidationSoapBinding" type="tns:SnilsValidationPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></wsdlsoap:binding>
        <wsdl:operation name="SnilsValidationRequest">
            <wsdlsoap:operation soapAction=""></wsdlsoap:operation>
            <wsdl:input>
                <wsdlsoap:header message="tns:SnilsValidationRequestMessage" part="SmevHeader" use="literal">
                </wsdlsoap:header>
                <wsdlsoap:body parts="parameters" use="literal"></wsdlsoap:body>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"></wsdlsoap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SnilsValidationService">
        <wsdl:port binding="tns:SnilsValidationSoapBinding" name="SnilsValidationPort">
            <wsdlsoap:address location="http://10.0.12.37:20000/ws/services/snils-validation"></wsdlsoap:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>