src/main/resources/wsdl/SID0004632.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://ws.unisoft/" xmlns:smev="http://smev.gosuslugi.ru/rev111111" targetNamespace="http://ws.unisoft/">
	<wsdl:documentation>Веб-сервис ФНС России - Предоставление сведений об Обособленных Подразделениях организаций. СМЭВ версия от 11.11.2011</wsdl:documentation>
	<wsdl:types>
		<xs:schema targetNamespace="http://ws.unisoft/">
			<xs:import namespace="http://smev.gosuslugi.ru/rev111111" schemaLocation="http://smev-mvf.test.gosuslugi.ru:7777/gateway/services/SID0004632/1.00/wsdl/FNSR01/15385ce9-5a13-4834-b515-0dd30a53ccbb"/>
			<xs:element name="queryOPUL" type="smev:queryOPUL">
			</xs:element>
			<xs:element name="queryOPULResponse" type="smev:queryOPULResponse">
			</xs:element>
			<xs:element name="getOPUL" type="smev:getOPUL">
			</xs:element>
			<xs:element name="getOPULResponse" type="smev:getOPULResponse">
			</xs:element>
			<xs:element name="TestRequest">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TestResponse">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="queryOPUL">
		<wsdl:part name="queryOPUL_IN" element="tns:queryOPUL"/>
	</wsdl:message>
	<wsdl:message name="queryOPULResponse">
		<wsdl:part name="queryOPUL_OUT" element="tns:queryOPULResponse"/>
	</wsdl:message>
	<wsdl:message name="getOPUL">
		<wsdl:part name="getOPUL_IN" element="tns:getOPUL"/>
	</wsdl:message>
	<wsdl:message name="getOPULResponse">
		<wsdl:part name="getOPUL_OUT" element="tns:getOPULResponse"/>
	</wsdl:message>
	<wsdl:message name="TestRequest_InputMessage">
		<wsdl:part name="TestRequest_IN" element="tns:TestRequest"/>
	</wsdl:message>
	<wsdl:message name="TestRequest_OutputMessage">
		<wsdl:part name="TestRequest_OUT" element="tns:TestResponse"/>
	</wsdl:message>
	<wsdl:portType name="FNSOPSvc_24Port">
		<wsdl:operation name="queryOPUL">
			<wsdl:input message="tns:queryOPUL"/>
			<wsdl:output message="tns:queryOPULResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getOPUL">
			<wsdl:input message="tns:getOPUL"/>
			<wsdl:output message="tns:getOPULResponse"/>
		</wsdl:operation>
		<wsdl:operation name="test">
			<wsdl:input message="tns:TestRequest_InputMessage"/>
			<wsdl:output message="tns:TestRequest_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FNSOPSvcSoap11" type="tns:FNSOPSvc_24Port">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="queryOPUL">
			<soap:operation soapAction="queryOPUL" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOPUL">
			<soap:operation soapAction="getOPUL" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="test">
			<soap:operation soapAction="test" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FNSOPSvc_24">
		<wsdl:port name="FNSOPSvc_24Port" binding="tns:FNSOPSvcSoap11">
			<soap:address location="http://smev-mvf.test.gosuslugi.ru:7777/gateway/services/SID0004632/1.00"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>